- title t("password.title")
- @body_class = "pages"


= render :partial => "flashes"

.container

  .content.offset

    %h1= t("password.title")

    %form{:action => new_password_path, :novalidate => true}
      .field
        %label Email address
        %input{:type => "email", :autocorrect => "off", :autocapitalize => "off"}

      .field.field-actions
        %button.button.button-primary{:type => "submit"}= t("send")
