- title t("password.new.title")
- @body_class = "pages"

.container

  .content.offset

    %h1= t("password.new.title")

    %form{:action => budget_path, :novalidate => true}

      .field
        %label Password
        %input{:type => "password", :autocapitalize => "off"}

      .field.field-actions
        %button.button.button-primary{:type => "submit"}= t("password.new.submit")
