#footer
  background-color: white
  font-size: 13px
  
  .container
    padding: 20px 0
  
  a
    +opacity(.6)
    padding: 5px 5px 5px 0
    margin-right: 10px
    color: $text
    display: block
    
    &:hover
      +opacity(.99)

    @media (min-width: $screen-sm)
      display: inline-block

      &:first-of-type
        padding-left: 0
  
  .legal
    margin-top: 10px

  .nav-pages
    @media (min-width: $screen-sm)
      float: left !important
  
  .copyright
    +opacity(.4)

    @media (min-width: $screen-sm)
      float: right
