- if object.errors.any?
  .form-errors.alert.alert-error
    %strong= "#{pluralize(object.errors.count, "error")} prohibited this from being saved:"
    %ul
      - object.errors.full_messages.each do |message|
        %li= message
