- title "New Password"
- @body_class = "pages"


.col-md-6.col-md-offset-3.form-box

  %h1.heading
    New Password
  
  %form.form-horizontal{:method => "post", :action => forgot_password_path, :novalidate => true}

    .control-group
      = label_tag :email, "Email", :class => "control-label"
      .controls
        = email_field_tag :email, "", :autocorrect => "off", :autocapitalize => "off"

    .form-actions
      %button.button.button-primary{:type => "submit"}
        = t("continue")
        %span.glyphicon.glyphicon-arrow-right.icon-white
